@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --ring: 0 0% 63.9%;
    --radius: 0.5rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 224 71% 4%;
      --foreground: 213 31% 91%;
      --muted: 223 47% 11%;
      --muted-foreground: 215.4 16.3% 56.9%;
      --accent: 216 34% 17%;
      --accent-foreground: 210 40% 98%;
      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;
      --border: 216 34% 17%;
      --input: 216 34% 17%;
      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 1.2%;
      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 210 40% 98%;
      --destructive: 0 63% 31%;
      --destructive-foreground: 210 40% 98%;
      --ring: 216 34% 17%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }

  p {
    margin: 8px 0;
  }

  code {
    @apply text-orange-700;
  }

  li {
    padding: 4px;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .chat-message-bubble a {
    text-decoration: underline;
  }

  .chat-message-bubble ol {
    list-style: decimal;
  }

  .chat-message-bubble ul {
    list-style: disc;
  }

  .chat-message-bubble li {
    white-space: normal;
  }

  .chat-message-bubble pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }

  .chat-message-bubble blockquote {
    border-left: 4px solid #e5e5e5;
    padding-left: 16px;
  }

  .chat-message-bubble hr {
    border-top: 1px solid #e5e5e5;
  }

  .chat-message-bubble h1 {
    font-size: x-large;
    font-weight: bold;
  }

  .chat-message-bubble h2 {
    font-size: larger;
    font-weight: bold;
  }

  .chat-message-bubble h3 {
    font-size: large;
    font-weight: bold;
  }

  .chat-message-bubble h4 {
    font-size: medium;
    font-weight: bold;
  }

  .chat-message-bubble h5 {
    font-size: small;
    font-weight: bold;
  }

  .chat-message-bubble h6 {
    font-size: smaller;
    font-weight: bold;
  }

  .chat-message-bubble del {
    text-decoration: line-through;
  }
}
